.image {
  flex: 0 0 35%;
  width: 100%;
}

.text_wrap {
  border: 1px solid;
  justify-content: flex-end;
}

.text {
  display: flex;
  font-size: large;
  font-weight: bold;
  box-sizing: border-box;
  padding: 2px;
}

.container {
  display: flex;
  align-items: center;
}

.about_taital {
  width: 100%;
  float: left;
  font-size: 30px;
  color: #3b3b3b;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.menu_section {
  background: rgb(145 75 3 / 77%);
  padding: 2px;
  /* background-size: cover; */
}